<section id="Experience">
    <div class="darkHomeDiv">
        <img class="museumImage" src="assets/Images/museumImage.jpg" alt="Museum" />
        <div class="wordCol">
            <h1 class="lightHeadingOnDarkBack">
                Expereince Niagara's history digitally
            </h1>
            <p class="lightTextOnDarkBack">
                Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam
                minimum
                ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.
            </p>
        </div>
    </div>
</section>

<section id="Learn more">
    <div class="lightHomeDiv">

    </div>
</section>