<section id="Experience" class="text-light p-5 text-center text-lg-start">
    <div class="container">
        <div class="d-lg-flex d-sm-flex-col justify-content-between">

        <div class="">
            <img style="max-width: 100%; height: auto;"class="border border-1 border-white img-fluid rounded" src="assets/Images/museumImage.jpg" alt="Museum" />
        </div> 
        
        <!-- div to style h1 and text-->
        <div class="align-self-start" style="width:80%; height: auto"> 
            <h1 class="text-light text-sm-left mx-1 mt-2">Expereince Niagara's history digitally</h1>
            <p style="text-indent: 30px;"class="mx-1 text-light mt-4 lead text-sm-left">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat, facere cum magni ullam voluptatibus alias sed aliquam error consequuntur quia ipsum magnam perferendis nemo non nihil, excepturi repellat. Sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quam illo, quibusdam perferendis aut enim obcaecati cumque, quisquam magnam dolor reiciendis nemo autem eaque alias quod provident rem itaque cum?
            </p>

           <div class="d-flex mt-5 justify-content-center mb-5" >
               <button style="background-color:#4B807E;" class="text-light btn btn-light btn-md mx-1 rounded-1">Start Tour</button>
               <button style="background-color:#343448;"class="text-light border border-2 border-ligth btn btn-light btn-md rounded-1">View Documents</button>
           </div>



           </div> 

    </div>
</div>
</section>

<section style="background-color:#F3EDED;"id="LearnMore" class="text-darktext-center">
    <div class="container">
        <div class="d-sm-flex-col">

            <div class="">
                <h5 class = "scrollToLearn">
                    Scroll to Learn More
                </h5>
            </div>
                <div class="d-flex justify-content-center mb-5">
                        <img style="width: 50px; height: 50px;" class="" src="../../assets/Icons/down-arrow.png" alt="">

                </div>
                <div style="height:40px">

                </div>

            <div class="d-flex mt-5 justify-content-center text-center">
               <h2>We offer a compplete<br>range of features</h2> 

            </div>

                

            <div class=" mt-5 justify-content-center d-sm-flex">
                <div class="">
                    <div class="d-flex justify-content-center mb-5">
                        <img style="width: 50px; height: 50px;" class="" src="../../assets/Icons/vr-goggles.png" alt="">

                    </div>
                    <h4 class="d-flex justify-content-center">Virtual Exhibit Touring</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore culpa nesciunt, cum ea temporibus officia velit aliquam necessitatibus vero fugit consequuntur vel, voluptas quia. Deleniti rem iste id asperiores sunt!</p>
                </div>

                <div class="">
                    <div class="d-flex justify-content-center mb-5">
                        <img style="width: 50px; height: 50px;" class="" src="../../assets/Icons/book.png" alt="">
                    </div>

                    <h4 class="d-flex justify-content-center">Extensive Library Catalogue</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo quo tenetur assumenda nobis asperiores nihil? Rerum culpa accusamus obcaecati maiores quidem voluptates nostrum, et in. Ea voluptas vitae quae.</p>

                </div>

                <div class="">
                    <div class="d-flex justify-content-center mb-5">
                        <img style="width: 50px; height: 50px;" class="" src="../../assets/Icons/graduation.png" alt="">
                    </div>

                    <h4 class="d-flex justify-content-center">Simplilfied Learning</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis quisquam illum aliquid id. In, eligendi, repellendus itaque nostrum consequuntur deserunt corporis saepe magnam provident est veniam ipsam, delectus eius ullam.</p>

                </div>

            </div>



        </div>
    </div>
</section>