<section id="ExperienceDiv">
    <div class="container darkHomeDiv p-5">
        <div class="d-lg-flex ">
            <div>
                <img class="museumImage img-fluid w-75" src="assets/Images/museumImage.jpg" alt="Museum" />
            </div>
            <h1 class="lightHeadingOnDarkBack">
                Experience Niagara's history digitally
                <p class="lightTextOnDarkBack mb-4">
                    Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam
                    minimum
                    ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.
                </p>
                <button class="on-Click btn btn-primary-green btn-lg p-2">Start a Tour</button>
                <button class="on-Click btn btn-primary-outline btn-lg mx-2 p-2">View Documents</button>
            </h1>
            
        </div>
    </div>

</section>

<section id="LearnMoreDiv" class="text-dark p-5 text-center">
    <div class="container">
        <h1 class="scrollToLearn">
            Scroll to Learn More
        </h1>
        <!-- down-arrow, in div-->
        <div class=""></div>
    </div>
</section>