$darkBlue: #35374F;
$paleGray: #D9D9D9;
$palePink: #E1B5A8;

.wrapper{
    display:flex;
    flex-direction: column;
    background-color: $darkBlue;
    align-content: center;
    height:100%;
}

.categories{
    display:flex;
    flex-direction: row;
    background-color: $paleGray;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem !important;
    .categoryName{
        display: inline-flexbox;
        margin: 0.5rem;
        padding: 1rem;
        border: 1px solid black;
        background-color: white;
        border-radius: 8px;
        font-weight: 600;
        cursor:pointer;
        &:hover{
           background-color: $darkBlue;
           color: white;
        }
    }
}
.searchBar{
    display:flex;
    flex-direction: row;
    height: max-content;
    margin:1rem;
    input{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border:2px solid black;
    }
    .search-button{
        display:flex;
        border: 2px solid black;
        background:$paleGray;
        height: 2rem;
        margin: 0% !important;
        padding:1rem;
        align-items: center;
        cursor:pointer;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        &:hover{
            background-color: gray;
            color: #D9D9D9;
        }
    }
}

.contentWrap{
    display:inline-flex;
    flex-direction: row;
    padding:none !important;
    width: 100%;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
}

.detailsOverview{
    display:flex;
    //padding: 5rem;
    align-items: center;
    .carousel-button{
        display:inline-block;
        padding:0.5rem;
        border: 2px solid black;
        background-color: $paleGray;
        margin: 0.5rem;
        border-radius: 8px;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
        
        &:hover{
            background-color: gray;
            color: #D9D9D9;
        }
    }
    .exhibit-cards{
        display:inline-flex;
        border:3px solid black;
        border-radius: 8px;
        overflow-x:scroll;
        &::-webkit-scrollbar {
            background: none;
          }
        &::-webkit-scrollbar-thumb{
            background-color: gray;
            border-radius: 8px;
        }
        width: 90vw;
        height: fit-content;
        .exhibitDetails{
            display:flex;
            flex-direction: column;
            padding:1rem;
            margin:1rem;
            border:2px solid black;
            border-radius: 8px;
            background-color: $palePink;
            color: $darkBlue;
            height: fit-content;
            justify-content: center;
            h3{
                text-align: center;
                margin-bottom: 2rem;
            }
            p{
                text-indent: 1rem;
            }
            .exhibitText{
                margin:1rem;
            }
            .enterExhibit-button{
                display: inline-flex;
                flex-direction: row;
                border: 3px solid black;
                border-radius: 8px;
                background-color: red;
                color: white;
                justify-content: center;
                cursor: pointer;
                width: 10rem;
                align-self: center;
                padding:0.5rem;
                margin-right: 3rem;
                margin-left: 3rem;
                .enterExhibit-text{
                    text-decoration: none;
                    color: white;
                    width: fit-content;
                }
                &:hover{
                    background-color: darkred;
                    color: white;
                }
            }
        }
    }
}