$darkBlue: #35374F;
$paleGray: #D9D9D9;
$palePink: #E1B5A8;
$darkBrown:#3B352E;
$mediumBrown:#876942;
$lightBrown:#C6B49C;
$accentBrown: #BA915B;

.swiper {
    width: 100%;
    // padding-top: 10rem;
    //padding-bottom: 10rem;

    .swiper-button-prev,
    .swiper-button-next {
        background-color: #876942;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        color: rgb(244, 245, 220);
        border: 2px solid black;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.5), inset 2px 2px 4px  rgba(200,200,200,0.5), inset -2px -2px 4px rgba(0,0,0,0.5);
        // margin-top: 15rem;
    }
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 30rem;
    //height: 30rem;
}

.swiper-slide .exhibitDetails {
    background-color: #C6B49C;
    padding: 3rem;
    display: block;
    border: 2px solid black;
    border-radius: 8px;

    box-shadow: 3px 3px 6px rgba(0,0,0,0.5), inset -3px -3px 6px rgba(0,0,0,0.5), inset 3px 3px 6px rgba(256,256,256,0.5);

    .exhibit-name {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .exhibit-introduction {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;

        .exhibit-like-button {
            border-color: white;
            padding: .5rem;
            border-radius: 50%;
        }
    }

    .exhibit-details-end {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    img {
        display: block;
        width: 100%;
    }


    .enterExhibit-button {
        display: inline-flex;
        flex-direction: row;
        border: 3px outset black;
        box-shadow: inset -2px -2px 4px rgba(0,0,0,0.5), inset 2px 2px 4px rgba(200,200,200,0.5);
        border-radius: 8px;
        background-color: #876942;
        color: white;
        justify-content: center;
        cursor: pointer;
        width: 10rem;
        align-self: center;
        padding: 0.5rem;

        .enterExhibit-text {
            text-decoration: none;
            color: white;
            width: fit-content;
        }

        &:hover {
            background-color: #665135;
            color: white;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #3B352E;
    align-content: center;
    height: fit-content;
    background: radial-Gradient(circle at 0vh, $darkBrown,transparent), radial-gradient(circle at 10vh, $lightBrown, transparent ), radial-gradient(circle at 90vh, black, transparent);

}

.categories {
    display: flex;
    flex-direction: row;
    background-color: $lightBrown;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem !important;
    background: radial-Gradient(circle at 0vw, $accentBrown,transparent), radial-gradient(circle at 40vw, $lightBrown transparent ), radial-gradient(circle at 100vw, $darkBrown, transparent);
    font-weight: 500;
    font-size: larger;
    .categoryName {
        display: inline-flexbox;
        margin: 0.5rem;
        padding: 1rem;
        border: 1px solid black;
        background-color: $darkBrown;
        color:$lightBrown;
        border-radius: 8px;
        font-weight: 600 !important;
        font-size: medium !important;
        cursor: pointer;

        &:hover {
            background-color: $accentBrown;
            color: white;
        }
    }
}

.exhibits {
    display: block;
    height: fit-content;
    padding: 25px;
    background-color: #3B352E;
}

.searchBar {
    display: flex;
    flex-direction: row;
    height: max-content;
    margin: 2rem;

    input {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: 2px solid black;
        width: 25rem;
        font-size: large;
        padding: 10px;
    }

    .search-button {
        display: flex;
        border: 2px solid black;
        background: $paleGray;
        height: 4rem;
        margin: 0% !important;
        padding: 1rem;
        align-items: center;
        cursor: pointer;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: large;

        &:hover {
            background-color: gray;
            color: #D9D9D9;
        }
    }
}

.contentWrap {
    display: inline-block;
    width: 100%;
    height: fit-content;
    padding-top: 5rem;
    background-color: $darkBlue;
}

.detailsOverview {
    display: flex;
    //padding: 5rem;
    align-items: center;

    .carousel-button {
        display: inline-block;
        padding: 0.5rem;
        border: 2px solid black;
        background-color: $paleGray;
        margin: 0.5rem;
        border-radius: 8px;
        font-weight: bold;
        font-size: large;
        cursor: pointer;

        &:hover {
            background-color: gray;
            color: #D9D9D9;
        }
    }

    .exhibit-cards {
        display: inline-flex;
        border: 3px solid black;
        border-radius: 8px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            background: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 8px;
        }

        width: 90vw;
        height: fit-content;

        .exhibitDetails {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin: 1rem;
            border: 2px solid black;
            border-radius: 8px;
            background-color: $palePink;
            color: $darkBlue;
            height: fit-content;
            justify-content: center;

            h3 {
                text-align: center;
                margin-bottom: 2rem;
            }

            p {
                text-indent: 1rem;
            }

            .exhibitText {
                margin: 1rem;
            }

            .enterExhibit-button {
                display: inline-flex;
                flex-direction: row;
                border: 3px solid black;
                border-radius: 8px;
                background-color: red;
                color: white;
                justify-content: center;
                cursor: pointer;
                width: 10rem;
                align-self: center;
                padding: 0.5rem;
                margin-right: 3rem;
                margin-left: 3rem;

                .enterExhibit-text {
                    text-decoration: none;
                    color: white;
                    width: fit-content;
                }

                &:hover {
                    background-color: darkred;
                    color: white;
                }
            }
        }
    }
}