<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
  <div class="container">
    <a href="#" class="navbar-brand">Logo</a> 
    <div class="collapse navbar-collapse"> </div>
    <ul class="navbar-nav"> 
      <li class="nav-item"> <a href="" class="nav-link" routerLink="Home">Home</a></li>
      <li class="nav-item"> <a href="" class="nav-link" routerLink="Tours">Exhibit Tours</a></li>
      <li class="nav-item"> <a href="" class="nav-link" routerLink="Catalogue">Library Catalogu</a></li>
      <li class="nav-item"> <a href="" class="nav-link" routerLink="AboutUs">About Us</a></li>
    </ul>
  </div>
</nav>











<!--
<nav class = "navBar"><ul>
  <li><a routerLink="Home">Home</a></li>
  <li><a routerLink="Tours">Exhibit Tours</a></li>
  <li><a routerLink="Catalogue">Library Catalogue</a></li>
  <li><a routerLink="AboutUs">About Us</a></li>
  </ul>
</nav>
-->
