<nav style="background-color: #F3EDED;" class="navbar navbar-expand-lg  navbar-light">
  <div class="container">
    <a href="#" class="navbar-brand">Logo</a> 
    <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navmenu"
    >
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navmenu"> 
      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item"><a href="#" class="nav-link" routerLink="Home">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="Tours">Exhibit Tours</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="Catalogue">Library Catalogue</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="AboutUs">About Us</a></li>
        <button class="btn btn-md m-1" style="background-color: #4B807E; color: #F3EDED;">Login</button>
        <button class="btn btn-md m-1" style="background-color: #847768; color: #F3EDED">Register</button>

      </ul>
    </div>
  
  </div>
</nav>