<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <a href="#" class="navbar-brand">Logo</a> 
    <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navmenu"
    >
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navmenu"> 
      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item"><a href="#" class="nav-link" routerLink="Home">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="Tours">Exhibit Tours</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="Catalogue">Library Catalogue</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="AboutUs">About Us</a></li>
      </ul>
    </div>
  
  </div>
</nav>











<!--
<nav class = "navBar"><ul>
  <li><a routerLink="Home">Home</a></li>
  <li><a routerLink="Tours">Exhibit Tours</a></li>
  <li><a routerLink="Catalogue">Library Catalogue</a></li>
  <li><a routerLink="AboutUs">About Us</a></li>
  </ul>
</nav>
-->
